[project]
	description = Simple, reusable Django gallery app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bartłomiej Biernacki (pax0r)
[access "refs/for/refs/*"]
	read = group user/Bartłomiej Biernacki (pax0r)
	push = group user/Bartłomiej Biernacki (pax0r)
	label-Code-Review = -2..+2 group user/Bartłomiej Biernacki (pax0r)
	label-Verified = -1..+1 group user/Bartłomiej Biernacki (pax0r)
	rebase = group user/Bartłomiej Biernacki (pax0r)
	removeReviewer = group user/Bartłomiej Biernacki (pax0r)
	submit = group user/Bartłomiej Biernacki (pax0r)
[access "refs/heads/*"]
	read = group user/Bartłomiej Biernacki (pax0r)
	create = group user/Bartłomiej Biernacki (pax0r)
	push = +force group user/Bartłomiej Biernacki (pax0r)
	pushMerge = group user/Bartłomiej Biernacki (pax0r)
[access "refs/tags/*"]
	push = group user/Bartłomiej Biernacki (pax0r)
	push = +force group user/Bartłomiej Biernacki (pax0r)
